name: Deployement Workflow

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Connexion SSH et Deploiement
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # On se place dans le dossier parent
            cd /root

            # Si le dossier n'existe pas, on clone. S'il existe, on entre dedans et on met à jour.
            if [ ! -d "srv" ]; then
              echo "Clonage du répertoire..."
              git clone https://${{ secrets.GH_TOKEN }}@github.com/dpironnet/Serveur-Internet-Sample-Project.git srv
              cd srv
            else
              echo "Le dossier srv existe déjà, mise à jour via pull..."
              cd srv
              # On force l'URL avec le token pour éviter les demandes de mot de passe
              git pull https://${{ secrets.GH_TOKEN }}@github.com/dpironnet/Serveur-Internet-Sample-Project.git main
            fi

            # Redémarrage des services Docker
            echo "Relance des conteneurs Docker..."
            docker compose up -d --build
            
            echo "Le déploiement est terminé avec succès !"
