name: Deployement Workflow

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Connexion SSH et Deploiement
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
         script: |
            cd /root
            rm -rf temp_repo
            
            echo "Clonage du dépôt..."
            git clone https://${{ secrets.GH_TOKEN }}@github.com/VOTRE_UTILISATEUR/VOTRE_DEPOT.git temp_repo
            
            mkdir -p /root/srv
            echo "Copie des fichiers..."
            cp -r /root/temp_repo/* /root/srv/
            rm -rf /root/temp_repo
            
            # --- ÉTAPE 10 : CRÉATION DU FICHIER .ENV ---
            echo "Configuration des variables d'environnement..."
            cat <<EOF > /root/srv/.env
            MYSQL_ROOT_PASSWORD=${{ secrets.DB_PASSWORD }}
            API_KEY=${{ secrets.API_KEY }}
            DOMAIN_NAME=${{ secrets.SSH_HOST }}
            EOF
            # ------------------------------------------

            cd /root/srv
            echo "Mise à jour des conteneurs..."
            docker compose up -d --build
            
            echo "Déploiement terminé avec succès !"
