name: Deployement Workflow

# --- Étape 3 : Conditions de lancement ---
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

# --- Étape 4 : Définition du job ---
jobs:
  deploy:
    runs-on: ubuntu-latest  # La machine virtuelle GitHub qui va bosser
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test de connexion
        run: echo "GitHub Action est prête à déployer sur la branche main !"
